/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

.main {
  max-width: 500px;
  margin: 0 auto;

  .tabs {
    display: flex;
    flex-direction: column;

    .tabs-nav {
      display: flex;

      .tabs__nav-btn {
        flex-grow: 1;
        padding: 10px 10px;
      }

      .tabs__nav-btn.active {
        border: 1px solid rgb(192, 118, 21);
        background-color: burlywood;
      }
    }

    .tabs-content {
      border: 1px solid rgb(192, 118, 21);
      padding: 10px 10px;

      .tabs-timer {

        .timer {
          display: flex;
          flex-direction: column;

          .timer__h3 {

          }

          .timer__count-down {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
          }

          .timer__count-down li {
            display: flex;
            width: 50px;
            border: 1px solid rgb(192, 118, 21);
            margin-right: 10px;
          }

          .timer__input {
            width: 50px;
            border: 1px solid black;
          }
        }

        .timer__btn-start {
          margin-bottom: 5px;

        }

        .timer__btn-stop {

        }
      }

      .tabs-calcdate {

        .datecalc {
          
          &__title{
            margin: 0 auto;
            // margin-left: 50px;
          }
        }
      }

      .tubs__item {
        display: none;
      }

      .tubs__item.active {
        display: block;
      }
    }
  }
}